[run]
source =
       xen-bugtool
       tests/

[report]
# Regular expressions for lines to exclude from consideration
exclude_lines =
    # Don't complain if tests don't hit catch-all exception handlers:
    except:
    except Exception
    except IOError
    # Have to re-enable the standard pragma
    pragma: no cover

    # Enable these selectively if you want to allow these raises without cover:
    # (If you want no complaint when tests don't hit raising these Assertions)
    # raise AssertionError
    # raise NotImplementedError
    # raise RuntimeError
    # raise ValueError
    # \<assert\>.*

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    # skip any line with a `pass` (such as may be used for @abstractmethod or @suffixed_method)
    pass

precision = 1
include =
    xen-bugtool
    tests/*
