# Initially, xen-bugtool was deployed in xs8 using defusedxml==0.5.0.
# The common python-defusedxml.srpm has since been updated to the current
# defusedxml-0.7.1.
# Tests should now use this version:
defusedxml==0.7.1
